@import "reset";
@import "variables";

header{
    background: $header-bgcolor;
    padding-top: 5px;
}

@mixin para-style {
    font-size: 18px;
    text-align: justify;
    margin: 10px 0;
}

#services{
    @include para-style;
}
#about{
    @include para-style;
}

// Nav styilng
nav{
    margin-top: 10px;
    ul {
        list-style-type: none;
        li{
            display: inline-block;
            margin: 15px;
            a{
                display: inline-block;
                color: #661255;
                text-decoration: none;
                padding: 7px;
                padding-left: 20px;
                padding-right: 20px;
                transition: 0.5s;
                background: #125266;
                border-radius: 5px;
                font-size: 20px;
             }
             a:hover{
                color: rgb(34, 139, 100);
                background: #910b76;
            }
         }
    }
}


main{
    background: $main-bgcolor;
}

footer{
    background-color: $footer-bcolor;
    font-size: $footer-fsize;
}